@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  --color-teal-50: #fffbeb;
  --color-teal-100: #fef3c7;
  --color-teal-200: #fde68a;
  --color-teal-300: #fcd34d;
  --color-teal-400: #fbbf24;
  --color-teal-500: #f59e0b;
  --color-teal-600: #d97706;
  --color-teal-700: #b45309;
  --color-teal-800: #92400e;
  --color-teal-900: #78350f;
  --color-teal-950: #451a03;

  --color-zinc-50: #f8fafc;
  --color-zinc-100: #f1f5f9;
  --color-zinc-200: #e2e8f0;
  --color-zinc-300: #cbd5e1;
  --color-zinc-400: #94a3b8;
  --color-zinc-500: #64748b;
  --color-zinc-600: #475569;
  --color-zinc-700: #334155;
  --color-zinc-800: #1e293b;
  --color-zinc-900: #0f172a;
  --color-zinc-950: #020617;

  --font-sans: 'Helvetica', 'Arial', sans-serif;
  --text-xs: 0.8125rem;
  --text-xs--line-height: 1.5rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.75rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 2rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.25rem;
  --text-4xl: 2rem;
  --text-4xl--line-height: 2.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 3.5rem;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;
}
